$breakpoints: (
  'sp': 'screen and (max-width: 480px)',
  'tab': 'screen and (max-width: 768px)',
  'pc': 'screen and (max-width: 1024px)',
) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/* 共通部品 */
html {
  font-family: "Zen Kaku Gothic New", sans-serif;
  color: #382710;
  background-color: #fcfaf2;
  line-height: 1.5;
  letter-spacing: 0.08em;
}

.u-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 100px;
  @include mq(tab) {
    padding: 0 15px;
  }
}

.u-sectionHeading {
  display: flex;
  flex-direction: column;
  gap: 5px;

  @include mq(tab) {
    gap: 10px;
  }
}

.u-sectionTitle {
  font-weight: 500;
  font-size: 32px;

  @include mq(tab) {
    font-size: 24px;
  }
}

/* ここから記述します。 */
.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

      @include mq(tab) {
    height: auto;
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: none;
  }
}

.header__logo {
      @include mq(tab) {
    margin: 11px 30px;
    width: 120px;
  }
}

.header__nav {
  @include mq(tab) {
    width: 100%;
    background-color: #f4eed8;
  }
}

.header__list {
    display: flex;
    gap: 20px;
    
  @include mq(tab) {
    padding: 8px 20px;
    justify-content: center;
  }
}

.header__menuLink {
    font-weight: 500;
    font-size: 16px;
    
  @include mq(tab) {
    font-size: 14px;
  }
}

/*--------------------------------
first view
---------------------------------*/
.firstView {
    position: relative;

}

.firstView__img {
    width: 100%;
    height: 500%;
    object-fit: cover;
    
  @include mq(tab) {
    height: 240px;
  }
}

.firstView__titile {
    width: 580px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    text-align: center;
    background-color: rgba(255,253,247,0.9);
    padding: 8px 32px;

  @include mq(tab) {
    width: 302px;
    font-size: 22px;
    padding: 3px 10px;
  }

      .firstView__title--bold {
    display: block;
    font-weight: 500;
  }
}

/*--------------------------------
container
---------------------------------*/
.container {
  display: flex;
  gap: 40px;

  @include mq(pc) {
    flex-direction: column;
  }

  @include mq(sp) {
    gap: 50px;
  }
}

/*--------------------------------
main
---------------------------------*/
.main {
  padding: 64px 0;
  width: 69%;

  @include mq(pc) {
    width: 100%;
  }

  @include mq(tab) {
    padding: 50px 0;
  }

  @include mq(sp) {
    padding: 50px 0 30px;
  }
}

/*--------------------------------
sidebarLeft
---------------------------------*/
.sidebarLeft {
  display: flex;
  flex-direction: column;
  gap: 56px;

  @include mq(sp) {
    gap: 40px;
  }
}

/*--------------------------------
news
---------------------------------*/
.news {
  display: flex;
  flex-direction: column;
  gap: 42px;

  @include mq(sp) {
    gap: 30px;
  }
}

.news__top {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.news__contents {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 640px;
}

.news__text {
  font-size: 16px;

  @include mq(tab) {
    font-size: 15px;
  }
}

.news__img {
  width: 100%;
}

.news__pickup {
  max-width: 640px;
  width: 100%;

  @include mq(sp) {
    width: 100%;
  }
}

.news__detail {
  display: flex;
  flex-direction: column;
  gap: 6px;

  @include mq(sp) {
    gap: 8px;
  }
}

.news__detailDate {
  font-size: 14px;
  font-weight: 500;
}

.news__detailTitle {
  font-size: 15px;
  font-weight: 700;
}

.news__detailText {
  font-size: 15px;
  letter-spacing: 0.06em;
}

.news__bottom {
  display: flex;
  gap: 24px;
  padding-bottom: 24px;

  @include mq(sp) {
    flex-direction: column;
    gap: 30px;
  }
}

.news__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}

/*--------------------------------
special
---------------------------------*/
.special {
  display: flex;
  flex-direction: column;
  gap: 42px;

  @include mq(sp) {
    gap: 30px;
  }
}

.special__top {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.special__contents {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 640px;
}

.special__img {
  width: 100%;
}

.special__pickup {
  max-width: 640px;
  width: 100%;

  @include mq(sp) {
    width: 100%;
  }
}

.special__detail {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.special__detailDate {
  font-size: 14px;
  font-weight: 500;
}

.special__detailTitle {
  font-size: 15px;
  font-weight: 700;
}

.special__detailText {
  font-size: 15px;
  letter-spacing: 0.06em;
}

.special__bottom {
  display: flex;
  gap: 24px;

  @include mq(sp) {
    flex-direction: column;
    gap: 30px;
  }
}

.special__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}

.special__linkText {
  display: flex;
  align-items: center;
  font-size: 15px;
  width: fit-content;
  margin-left: auto;
}

/*--------------------------------
aside
---------------------------------*/
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 33px;
  padding: 64px 0;
  width: 28%;

  @include mq(pc) {
    width: 100%;
  }

  @include mq(sp) {
    padding: 0 0 50px;
    gap: 41px;
  }
}

/*--------------------------------
category
---------------------------------*/
.category {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.category__contents {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.category__top {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include mq(sp) {
    gap: 20px;
  }
}

.category__text {
  font-size: 14px;
}

.category__linkText {
  display: flex;
  align-items: center;
  font-size: 16px;
  width: fit-content;
  margin-left: auto;
}

.category__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}

.category__btn {
  border: 0.5px solid #d4cdb3;
  border-radius: 5px;
}

.category__btnLink {
  display: block;
  padding: 11px 6px;
}

.category__btnImg {
  width: 100%;

  @include mq(sp) {
    margin-bottom: 16px;
  }
}

.category__btnText {
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.05em;
}

.category__search {
  display: flex;
  border: 1px solid #d4cdb3;
  border-radius: 3px;
  height: 43px;
}

.category__searchInput {
  background-color: #fff;
  width: calc(100% - 53px);
  padding: 8px;
}

.category__searchBtn {
  background-color: #fff2bf;
  padding: 10px;
  width: 53px;
}

.category__img {
  width: 100%;
}

/*--------------------------------
popularity
---------------------------------*/
.popularity__linkText {
  display: flex;
  align-items: center;
  font-size: 16px;
  width: fit-content;
  margin-left: auto;

  @include mq(sp) {
    margin-bottom: 20px;
  }
}

.popularity__item {
  border-top: 1px solid #e8e3d2;
  display: flex;
  gap: 20px;
  padding: 14px 0;

  &:last-child {
    border-bottom: 1px solid #e8e3d2;
  }
}

.popularity__link {
  display: flex;
  gap: 20px;
  padding: 14px 0;
}

.popularity__itemDate {
  font-size: 14px;

  @include mq(sp) {
    font-size: 16px;
  }
}

.popularity__itemText {
  font-size: 14px;

  @include mq(sp) {
    font-size: 16px;
  }
}
.post__title{
  display: flex;
  align-items: center;
  gap: 8px;
}

.post__linkImg {
  @include mq(sp) {
    width: 30px;
  }
}

/*--------------------------------
post
---------------------------------*/
.post {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include mq(sp) {
    gap: 20px;
  }
}

.post__linkText {
  display: flex;
  align-items: center;
  font-size: 16px;
  width: fit-content;
  margin-left: auto;
}

/*--------------------------------
X
---------------------------------*/
iframe {
  width: 100%;
}

/*--------------------------------
footer
---------------------------------*/
.footer {
  background-color: #fff;
  padding: 42px;

  @include mq(tab) {
    padding: 48px 30px 14px;
  }
}

.footer__contents {
  display: flex;
  max-width: 985px;
  margin: 0 auto;
  gap: 160px;

  @include mq(pc) {
    gap: 80px;
  }

  @include mq(tab) {
    flex-direction: column-reverse;
    gap: 40px;
  }
}

.footer__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer__catch {
  font-size: 14px;
}

.footer__menu {
  display: flex;
  gap: 160px;

  @include mq(pc) {
    gap: 80px;
  }

  @include mq(tab) {
    flex-direction: column;
    gap: 40px;
  }
}

.footer__center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.footer__title {
  display: inline;
  border-bottom: 0.5px solid #b2572f;
  padding-bottom: 4px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__item {
  font-size: 16px;
}

.footer__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
